html,
body {
    margin: 0 auto;
    height: 100%;
}

body {
    font-family: monospace;
    justify-content: center;
    background-color: darken(#252b37, 4%);
}

h1 {
    color: white;
    margin-top: 0px;
    text-align: center;
    margin-top: 10vh;
}
